{% load i18n %}
<div>
  <span><a href="{{ obj.get_absolute_url }}"><strong>{{ obj.name }}</strong></a> for {{ obj.products }} on Zabbix {{ obj.zabbix }}</span>
  <blockquote>
    <p>{{ obj.description|linebreaksbr|fix_ampersands|urlize }}</p>
    <small>created by <a href="#">{{ obj.author }}</a> on the {{ obj.created_at }}.</small>
  </blockquote>
  <div class="download">
    {% if obj.document %}
    <strong>{% trans "Uploaded file " %}:</strong> <a href="{{ MEDIA_URL }}/{{ obj.document.url }}" target="_blank">{{ obj.document.name }}</a> ({{ obj.document.file.size|filesizeformat }})
    {% else %}
    
    {% endif %}
  </div>
  <div class="row">
    <div class="span12">
      <hr/>
      <h2>Compatibility matrix
    </div>
    <div class="span4">
      <h3>{{ obj.product }} versions : </h3>
      <ul>
        {% for version in obj.product_versions.all %}
        <li> {{ version }} </li>
        {% endfor %}
      </ul>
    </div>
    <div class="span4">
      <h3>{{ obj.plateform }} versions :</h3>
      <ul>
        {% for version in obj.plateform_versions.all %}
        <li> {{ version }} </li>
        {% endfor %}
      </ul>
    </div>
    <div class="span4">
      <h3>Zabbix versions : </h3>
      <ul>
        {% for version in obj.zabbix_versions.all %}
        <li> {{ version }} </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <p><a class="btn" href="{% url contrib_list %}">&laquo; {% trans "Back to list" %}</a></p>
</div>